body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--c-primary);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-logo {
  color: var(--c-black);
}

.header-logo span {
  color: var(--c-blue);
}

.header-container {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts__item:not(:first-child) {
  margin-left: 50px;
}

.nav {
  margin-left: 93px;
}

.nav-list {
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 40px;
}

.nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--c-primary);
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--c-blue);
}

.header-contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--c-primary);
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--c-blue);
}

.footer {
  background-color: var(--c-bg);
}

.footer-container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list__item {
  color: var(--c-white);
}

.footer-list__link {
  color: var(--c-footer);
}

.footer-list__link:hover,
.footer-list__link:focus {
  color: var(--c-blue);
}

.footer-logo {
  color: var(--c-white);
}

.footer-logo span {
  color: var(--c-blue);
}

.address {
  margin-top: 20px;
}

.footer-list__item:not(:first-child) {
  margin-top: 9px;
}

.footer-item {
  padding-top: 12px;
  margin-left: 70px;
}

.footer-title {
  color: var(--c-white);
}

.footer-socials {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer-socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff1a;

  color: var(--c-white);
}

.footer-socials__link:hover,
.footer-socials__link:focus {
  background-color: var(--c-blue);
}

.footer-socials__icon {
  fill: currentColor;
}

.footer-sing {
  margin-left: auto;
}

.sing-form {
  display: flex;
  gap: 12px;
}

.sing-text {
  color: var(--c-white);
}

.footer-sing__input {
  width: 358px;
  height: 50px;
  margin-top: 20px;
  padding-left: 16px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  border: 1px solid #ffffff4d;
  background-color: var(--c-bg);
}

.sing-form__button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 28px 10px 28px;
  width: 200px;
  height: 50px;
  margin-top: 20px;

  color: var(--c-white);
  background-color: var(--c-blue);
}
