:root {
  --c-primary: #212121;
  --c-secondary: #757575;
  --c-white: #ffffff;
  --c-blue: #2196f3;
  --c-bg: #2f303a;
  --c-section: #f5f4fa;
  --c-footer: #ffffff99;
  --c-portfolio: #eeeeee;
  --c-button: #f5f4fa;
  --c-black: #000000;
}
